h1  {
    display: inline-block;
    background-color: chartreuse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    position: fixed;
    overflow: scroll;
    height: 60px;
    top: 20px;
    width: 300px;
    color: chocolate;
}