h1  {
    display: block;
    background-color: chartreuse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 301px;
    position: fixed;
    overflow: scroll;
    height: 100px;
}